@import 'tailwindcss';

:root {
  --background: #010101;
  --foreground: #ededed;
  --main: #080e12;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  margin: 0;
}

main {
  background: var(--main);
}
