@import 'tailwindcss';

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #abecd6, #fbed96);

    --background: 170 40.95% 6.4%;
    --foreground: 170 6.3% 99%;

    --muted: 170 40.95% 25.6%;
    --muted-foreground: 170 6.3% 58%;

    --popover: 170 52.4% 10.4%;
    --popover-foreground: 170 6.3% 99%;

    --card: 170 52.4% 10.4%;
    --card-foreground: 170 6.3% 99%;

    --border: 170 40.95% 25.6%;
    --input: 170 40.95% 25.6%;

    --primary: 170 63% 80%;
    --primary-foreground: 170 6.3% 8%;

    --secondary: 170 40.95% 25.6%;
    --secondary-foreground: 170 6.3% 99%;

    --accent: 170 40.95% 25.6%;
    --accent-foreground: 170 6.3% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 170 6.3% 99%;

    --ring: 170 63% 80%;

    --wave: 52 93% 79%;
    --gradient-decoration: linear-gradient(
      to bottom,
      hsl(var(--background)),
      hsl(var(--wave))
    );
    --gradient-genius: linear-gradient(to bottom, #090171, #ff005a);
    --color-mint-100: #00c6a8;
    --color-mint-200: #007858;
    --color-mint-300: #00402d;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: hsl(var(--background));
}

.border {
  border-width: 1px;
  border-color: hsl(var(--border));
}

ul,
li {
  margin: 0;
}

nav a {
  color: white;
  transition: all 0.3s ease;
}

nav a:hover {
  color: hsl(var(--muted-foreground));
}

.bg-background {
  background: hsl(var(--background));
}

.bg-gradient {
  background: var(--gradient);
}

.bg-gradient-decoration {
  background: var(--gradient-decoration);
}

.bg-gradient-genius {
  background: var(--gradient-genius);
}

.bg-card {
  background-color: hsl(var(--card));
}

.bg-card\/7 {
  background-color: hsl(var(--card) / 0.7);
}

.bg-primary {
  background-color: hsl(var(--primary));
}

.bg-secondary {
  background-color: hsl(var(--secondary));
}

.text-primary {
  color: hsl(var(--primary));
}

.text-primary-foreground {
  color: hsl(var(--primary-foreground));
}

.text-secondary-foreground {
  color: hsl(var(--secondary-foreground));
}

.ring-offset-background {
  --tw-ring-offset-color: hsl(var(--background));
}

.text-foreground {
  color: hsl(var(--foreground));
}

.text-accent-foreground {
  color: hsl(var(--accent-foreground));
}

.bg-accent {
  background-color: hsl(var(--accent));
}

.bg-muted {
  background-color: hsl(var(--muted));
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}

.border-input {
  border-color: hsl(var(--input));
}

.bg-mint-100 {
  background-color: var(--color-mint-100);
}

.bg-mint-200 {
  background-color: var(--color-mint-200);
}

.bg-mint-300 {
  background-color: var(--color-mint-300);
}

.text-mint-100 {
  color: var(--color-mint-100);
}

.text-mint-200 {
  color: var(--color-mint-200);
}

.text-mint-300 {
  color: var(--color-mint-300);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease;
  outline: none;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.default {
  background-color: hsl(var(--primary) / 30%);
  color: hsl(var(--accent-foreground));
}

.default:hover {
  background-color: hsl(var(--accent));
}

.outline {
  border-width: 1px;
  border-color: hsl(var(--border));
  background-color: hsl(var(--background));
  color: hsl(var(--accent-foreground));
}

.outline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.ghost {
  background-color: transparent;
  color: hsl(var(--accent-foreground));
}

.ghost:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--accent-foreground));
}

.destructive:hover {
  background-color: hsl(var(--destructive) / 70%);
}
