.card {
  &__items {
    display: grid;
    width: 100%;
    gap: calc(var(--spacing) * 2);

    &--list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &--grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));

      .card__item {
        flex-direction: column;
      }
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: calc(var(--spacing) * 3);
    padding: calc(var(--spacing) * 2);
    border-width: 1px;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--card) / 0.9);
    color: hsl(var(--card-foreground));
    border-radius: 0.5rem;

    @media (width >= 40rem) {
      gap: calc(var(--spacing) * 4);
      padding: calc(var(--spacing) * 3);
    }
  }
}
