.search {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 25rem;
  border-radius: var(--radius-md);

  @media (width < 48rem) {
    max-width: 100%;
  }

  &__form {
    position: relative;
  }

  &__input {
    background-color: var(--card);
    padding-inline: 2rem;
  }

  &__suggestions {
    position: absolute;
    z-index: 10;
    top: calc(100% + 3px);
    flex-direction: column;
    width: 100%;
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    & > li {
      display: flex;
      align-items: center;
      background-color: var(--card);
      gap: 0.5rem;
      padding: 0.5rem;
      font-size: 0.875rem;
      cursor: pointer;
      border-left: 1px solid var(--input);
      border-right: 1px solid var(--input);
    }

    & > li:first-child {
      border-top-left-radius: var(--radius-md);
      border-top-right-radius: var(--radius-md);
      border-top: 1px solid var(--input);
    }

    & > li:last-child {
      border-bottom-left-radius: var(--radius-md);
      border-bottom-right-radius: var(--radius-md);
      border-bottom: 1px solid var(--input);
    }
  }

  &__clear {
    position: absolute;
    right: 0.4rem;
    top: 0.5rem;
    display: flex;
    align-items: center;

    & > button {
      cursor: pointer;
      transition: all 0.3s ease;
      color: var(--foreground);
      font-size: 1.3rem;

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__loader {
    position: absolute;
    left: 0.4rem;
    top: 0.5rem;
    display: flex;
    align-items: center;

    & > svg {
      cursor: pointer;
      transition: all 0.3s ease;
      color: var(--foreground);
      font-size: 1.3rem;

      &:hover {
        color: var(--primary);
      }
    }
  }

  &__image {
    object-fit: contain;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-md);
    font-size: 6px;
  }
}
