.toolbar {
  border-radius: var(--radius-lg);
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  box-shadow: var(--shadow-sm);
  display: flex;
  gap: calc(var(--spacing) * 4);
  flex-direction: row;
  justify-content: space-between;
  padding: calc(var(--spacing) * 2);

  @media (width >= 40rem) {
    padding: calc(var(--spacing) * 4);
  }

  .filters {
    flex-grow: 1;
    display: flex;
  }
}
