.toolbar {
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius-lg);
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  box-shadow: var(--shadow-sm);
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-direction: row;
  justify-content: space-between;
  padding: calc(var(--spacing) * 2);

  .filters {
    flex-grow: 1;
    display: flex;
  }

  .options {
    display: flex;
    gap: calc(var(--spacing) * 2);
  }

  @media (width < 48rem) {
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
  }
}
